@import './header';
@import './navbar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::after {
        box-sizing: border-box;
    }
    ::before {
        box-sizing: border-box;
    }
}
.container{
    max-width: 1440px;
    margin: auto;
}
