@import "../constants/variables";
@import "../constants/mixins";

.closeBtn {
    @include absolute(0, auto);
    cursor: pointer;
    right: 0;
    width: 24px;
    height: 24px;
    margin: 32px;
    border-radius: 50%;
    border: 2px solid $close-btn-color;
    transition: 0.5s;
    &:hover {
        border: 2px solid #dc3545;
        .closeBtn__vector {
            background-color: #dc3545;
        }
    }
    &__vector {
        @include absolute(50%, 50%);
        transform: translate(-50%, -50%) rotate(45deg);
        width: 75%;
        height: 2px;
        background-color: $close-btn-color;
        transition: 0.5s;
        &:last-child {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
