@import "../constants/variables";
@import "../constants/mixins";

.circle {
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 7%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $circle-color;
    transform: translate(-50%, -50%);
    overflow:hidden ;
    &::after {
        content: url(../../assets/arrow-down.svg);
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.arrow__link {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
}
@media (max-width: 985px) {
    .circle {
        top: 580px;
        bottom: auto;
    }
}
@media (max-width: 450px) {
    .circle {
        width: 30px;
        height: 30px;
        &::after{
            transform: translate(-50%, -50%) scale(.5);
        }
    }
}
