@import "../constants/mixins";
@import "../constants/variables";


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   display: none;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color; 
    border-radius: 10px;
    width: 5px;
    height: 120px;
    &:hover{
        background-color: $scrollbar-color--active; 
    }
  }