// colors
$primary-color: #4250bf;
$primary-dark-color: #252b42;

$accent-color: #38a5db;
$accent-color--active: #399aca;

$modal-bg-color: #252b4250;

$text-dark-accent-color: #001832;
$text-accent-color: #1c2085;
$text-primary-color: #45515f;
$text-additional-color: #011226;
$logo-color: #263396;
$social-media-color: #63c7ff;
$border-neutral-color: #7f8b9830;
$placeholder-color: #576677;
$active-navbar-color: #5454d4;
$light-color: #fff;
$circle-color: #e7e7e730;
$email-color: #0f81ff;
$light-border-color: #9ca4c7;
$close-btn-color: #9ca4c7;
$light-footer-color: #f2f2f2;
$video-shadow: rgba(37, 43, 66, 0.45);
$scrollbar-color: #2c367642;
$scrollbar-color--active: #2c3676;
$carousel-dot-inactive: #c4c4c4;
$team-heading-color: #1c1f83;

// fonts

$primary-font: "Sen", sans-serif;
$additional-font: "Open Sans", sans-serif;
