// colors
$primary-color: #4250BF;
$primary-dark-color: #252B42;
$accent-color: #38A5DB;
$text-dark-accent-color: #001832;
$text-accent-color: #1C2085;
$text-primary-color: #45515F;
$text-additional-color: #011226;
$logo-color: #263396;
$social-media-color: #63C7FF;
$border-neutral-color: #7F8B98;
$placeholder-color: #576677;
$active-navbar-color: #5454D4;
$navbar-color: #fff;

// fonts

$primary-font: 'Open Sans', sans-serif;
$additional-font: 'Sen', sans-serif;