@import "../constants/mixins";
@import "../constants/variables";

.header {
    height: 100vh;
    min-height: 950px;
    background-image: url(../../assets/header_bg.svg);
    background-size: cover;
    background-position: 0 top;
    background-repeat: no-repeat;
    &__wrapper {
        @include flexContainer(row);
        justify-content: flex-start;
        width: 100%;
        height: calc(100vh - 70px);
        padding-top: 70px;
    }
    &__content {
        @include flexContainer(column);
        align-items: flex-start;
        width: 50%;
        height: 100%;
    }
    &__main_heading {
        @include textStyle($primary-font, 40px, 600, normal, 56px);
        letter-spacing: 0.2px;
        color: $light-color;
        margin-bottom: 74px;
        width: 568px;
    }
    &__form_heading {
        @include textStyle($primary-font, 18px, 400, normal, 26px);
        color: $light-color;
        opacity: 0.7;
        margin-bottom: 18px;
    }
    &__input_wrapper {
        position: relative;
        width: 480px;
    }
    &__form_btn {
        @include absolute(0, auto);
        @include textStyle($additional-font, 17px, 600, normal, 23px);
        height: 46px;
        width: 154px;
        right: -88px;
    }
    &__video_container {
        @include flexContainer(row);
        justify-content: flex-end;
        position: relative;
        top: -85px;
        right:-45px;
        width: 50%;
    }
}
@media (min-width: 1440px){
      .header{
        background-size: 149%;
        background-position: center;
      }
}
@media (max-width: 1325px) {
    .header {
         &__video_container {
        right: -10px;
       }
    }
}
@media (max-width: 1220px) {
    .header {
        &__wrapper {
            padding: 70px 20px 0 20px;
        }
    }
}
@media (max-width: 1150px) {
    .header {
        &__main_heading {
            font-size: 39px;
            line-height: 55px;
        }
        .video {
            width: 465px;
        }
    }
}
@media (max-width: 985px) {
    .header {
        padding: 118px 80px 0 80px;
        height: auto;
        background-position: center;
        &__wrapper {
            flex-direction: column;
            height: 100%;
            padding: 0;
        }
        &__content {
            width: 100%;
        }
        &__video_container {
            @include flexContainer(row);
            margin-top: 250px;
            width: 100%;
            top: 0;
            right: auto;
        }
        .video {
            width: 544px;
        }
    }
}
@media (max-width: 700px){
      .header{
        &__input_wrapper {
            width: 100%;
        }
        &__main_heading {
            width: 100%;
            @include textStyle($primary-font, 34px, 600, normal, 50px);
        }
      }
}
@media (max-width: 600px){
      .header{
          padding: 118px 16px 0 16px;
        &__form_wrapper{
            width: 100%;
        }
        &__input_wrapper {
            width: 100%;
        }
        &__input{
            margin: 16px 0;
        }
        &__main_heading {
            width: 100%;
        }
        &__form_heading{
            margin: 0;
        }
        &__form_btn{
            position: static;
            width: 100%;
        }
      }
}
@media (max-width: 500px){
      .header{
        &__main_heading {
            @include textStyle($primary-font, 28px, 600, 400, 40px);
        }
        &__form_heading{
            font-size: 14px;
            line-height: 14px;
        }
      }
}
@media (max-width: 380px){
      .header{
        &__main_heading {
            @include textStyle($primary-font, 24px, 600, 400, 32px);
        }
        &__form_heading{
            font-size: 14px;
            line-height: 14px;
        }
      }
}
